<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <style>
        body {
          background-color: #cccccc;
          overflow: hidden;
          display: flex;
          justify-content: center;
          align-items: center;
          margin: 0;
          height: 100vh;
        }
        .Main_Section {
          width: 50vw;
          background-color: #ffffff;
          display: flex;
          flex-direction: column;
          align-items: center;
          padding-top: 5%;
          padding-bottom: 5%;
          gap: 1.5rem;
          box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px,
            rgba(17, 17, 26, 0.1) 0px 8px 24px,
            rgba(17, 17, 26, 0.1) 0px 16px 56px;
        }
        .Form_section{
          width: 75%;
          display: flex;
          flex-direction: column;
          color: #000;
          font-family: "Raleway" sans-serif;
          font-size: 1.625rem;
          font-style: normal;
          font-weight: 700;
          line-height: normal;
        }
  
        .Form_section > input{
          height: 2rem;
          font-size: 1.3rem;
          padding: 0.3rem;
          color: #000 !important;
          font-family: "Raleway" sans-serif;
          font-style: normal;
          line-height: normal;
          border-radius: 0.4rem;
        }
        .sub{
           text-align: center;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        border-radius: 0.5rem;
        background: #f3f1ff;
        color: #000;
        font-family: "Raleway" sans-serif;
        font-size: 1.625rem;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        transition: 0.5s ease-out;
        border: none !important;
        height: 3rem !important;
        }
  
        .sub:hover{
          border-radius: 0.5rem;
          background: #6135ee;
          color: #fff !important;
          font-family: "Raleway" sans-serif;
          line-height: normal;
        }
      </style>
  </head>
  <body>
    <div class="Main_Section">
      <form
        class="Form_section"
        action="/student/{{data._id}}/edit"
        method="post"
      >
        Name:
        <input
          placeholder="Name"
          name="name"
          type="text"
          value="{{data.name}}"
          required
        />
        <br />
        Roll No:
        <input
          placeholder="Roll No"
          name="roll_no"
          type="text"
          value="{{data.roll_no}}"
          required
        />
        <br />
        Date Of Birth:<input
          placeholder="Birth Date"
          name="birth_date"
          type="date"
          value="{{data.birth_date}}"
          required
        />
        <br />
        Score:
        <input
          placeholder="Score"
          name="score"
          type="text"
          value="{{data.Score}}"
          required
        />
        <br />
        <input class="sub" type="submit" /> 
      </form>
    </div>
  </body>
</html>